div{
  background-color: gainsboro;
}
span1{
  background-color: mediumspringgreen;
}
img {
  border-radius: 8px;
  width: 40%;
  height: auto;
  display:block;
  margin: 0 auto;
  float:right;
}
body {
  background-color:lightcyan;
  text-align: left;
}
h1 {
  text-decoration: underline;
  text-align: left;
}

h2 {
  text-decoration: underline;
  text-align: left;
}

h3 {
  text-decoration: underline;
  text-align: left;
}

h4 {
  text-decoration: underline;
  text-align: left;
}
h5 {
  text-decoration: underline;
  text-align: left;
}

h6 {
  text-decoration: underline;
  text-align: left;
}

h7 {
  text-decoration: underline;
  text-align: left;
}

h8 {
  text-decoration: underline;
  text-align: left;
}
p {
  font-family: Arial;
  text-align: left;
  font-size: 10rem
}
p {
  font-family: Arial;
  text-align: left;
  font-size: large;
}
p {
  font-family: Arial;
  text-align: left;
  font-size: large;
}
p {
  font-family: Arial;
  text-align: left;
  font-size: large;
}
#holder {
  width: 1700px;
  height: auto;
  background-color: mistyrose ;
  font-size: 4000%;
}
span2{
  background-color: greenyellow;
  font-size: 300px
  text-align:left;
}
